*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    height:100%;
    width:100%;
}
@font-face {
    font-family: f1;
    src: url(./fonts/Roman\ SD.ttf);
}
@font-face {
    font-family:gilroy-regular;
    src: url(./fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: gilroy-bold;
    src: url(./fonts/Gilroy-Bold.ttf);
}
body{
    background-color: #540863;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height:500px;
    width:320px;
    background-color: #FFD3D5;
    padding:15px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;  
}
#card h2{
    text-align:center;
    font-family: f1;
    font-size: 30px;
}
#card p{
    font-family: gilroy-regular;
    font-size: 20px; 
}
#card button{
   padding: 8px 25px;
   font-family: gilroy-bold;
   font-size: 20px;
   font-weight: 500;
   background-color: #E49BA6;
   color: #000;
   border: none;
   border-radius: 5px;
}

button:active{
    scale: 0.95;
}