*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body{
    height:100%;
    width:100%;
}
@font-face {
    font-family: gilroy;
    src: url(./Gilroy-SemiBold.ttf);
}
main{
    height:100%;
    width:100%;
    background-color: #313647;
    overflow: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
main h1{
    font-size: 80px;
    font-family: f1;
    color:#FFF8D4;
}
#cursor{
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: #FFF8D4;
    position: absolute;
    transition: all linear 0.1s;
    mix-blend-mode: difference;
}