:root{
    --white:#e9e9e9;
    --black:#0c0c0c;
    --gray1:#212121;
    --gray2:rgb(118, 118, 118);
    --green:#009660;
}
.green{
    color: var(--green);
}
@font-face {
    font-family: neue-reg;
    src: url(./fonts/neue-machina/NeueMachina-Regular.otf);
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width:100%;
    background-color:var(--black);
    color:var(--white);
    font-family: monospace;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 50px;
    position: fixed;
    width:100%;
}
.nav1 img{
    height:30px;
}
.nav2{
    display:flex;
    align-items: center;
    gap: 55px;
}
.nav2 h4{
    font-size: 15px;
    font-weight: 100;
    font-family: neue-reg;
}
.nav2 i{
    font-size: 18px;
}
.nav2 img{
    height:30px;
    width:30px;
    border-radius: 50%;
    object-fit: cover;
}
.nav3{
    display:flex;
    align-items: center;
    gap: 30px;
    display: none;
}
.nav3 h4{
    font-size: 15px;
    font-weight: 100;
    font-family: neue-reg;
}

@media(max-width:600px){
    nav{
        padding: 15px 25px;
    }
    .nav1 img{
        height: 23px;
    }
    .nav2{
        display: none;
    }
    .nav3{
        display: flex;
    }
}
main{
    padding-top: 100px;
}
.section1{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:0 50px;
    font-family:Helvetica;
  
}
.section1 .left {
    width:40%;
}
.left h1{
    font-size: 35px;
}
.section1 .left .tags{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:5px 5px;
    margin:25px 0px;
}
.section1 .left .tags h4{
    background-color: var(--gray1);
    padding:8px 14px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 100;
    white-space: nowrap;
}
.section1 .left .price{
    font-size: 28px;
    font-weight: 700;
}
.section1 .left .price .discounted{
    font-size: 26px;
    color: var(--green);
}
.section1 .left .price .actual{
    font-size: 20px;
    color: var(--gray2);
    text-decoration: line-through;
    margin:0px 5px;
}
.section1 .left .price .gst{
    font-size: 20px;
}
.section1 .left h5{
    font-size: 14px;
    color: var(--green);
    margin:5px 0px;
}
.section1 .left .sec-1-btn{
    display:flex;
    align-items: center;
    gap:12px;
    margin-top: 20px;
    margin-bottom:14px;
}
.section1 .left .sec-1-btn .buy-now{
    padding:12px 65px;
    font-size: 16px;
    font-weight: 700;
    color:var(--white);
    background-color: var(--green);
    border-radius: 3px;
    border:none;
}
.section1 .left .sec-1-btn .syllabus{
    padding:12px 50px;
    font-size: 16px;
    font-weight: 500;
    color:var(--white);
    background-color: var(--gray1);
    border-radius: 3px;
    border:none;
}
.section1 .left h6{
    font-size: 14px;
    font-weight: 400;
}
.section1 .left h6 span{
    color:var(--green)
}
.section1 .right{
    width:35%;
}
.section1 .right .right-in{
    width:500px;
    border-radius: 5px;
    overflow: hidden;
}
.section1 .right .right-in .cohort-img{
    width:100%;
    height:300px;
}
.section1 .right .right-in .cohort-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.right-in .img-bottom{
    padding:20px;
    padding-top:30px; 
    background-color: var(--gray1);   
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:14px;
}
.right-in .img-bottom h4{
    background-color: #151515;
    padding:10px;
    width:45%;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
}
.right-in .img-bottom h4 span{
    font-weight: 600;
}
@media (max-width:1400px) {
    .section .left h1{
        font-size: 3.5vw;
    }
}
@media (max-width:800px) {
    main{
        padding-top: 50px;
    }
    .section1{
        flex-direction: column-reverse;
        padding:10px 5vw;
    }
    .section1 .left{
        width:100%;
        margin-top: 20px;
    }
    .section1 .left h1{
        font-size: 30px;
    }
    .section1 .right .right-in{
        width:100%;
        border-radius: 4px;
        overflow: hidden;
    }
   
}
@media (max-width:600px) {
    .section1 .left h1{
        font-size: 5vw;
    }
}